@font-face {
  font-family: GardensCM;
  src: url("../public/fonts/GardensCM.ttf");
}

* {
  font-family: GardensCM;
}

html body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
}

:root {
  /* Цвета */

  --button: #fdde0d;
  --button-active: #d3b805;
  --button-delete: #fd4d36;
  --button-delete-active: #c41f09;
  --button-restore: #19e40e;
  --button-restore-active: #1fc416;
  --element: #ececec;
  --element-active: #d9d9d9;
  --shadow: #000000;
  --background: #ffffff;
  --gray-text: #bebebe;
}

.skeletonImage {
  --max-color: rgba(0, 0, 0, 0.1);
  --min-color: rgba(0, 0, 0, 0.04);
  animation: skeleton 2s infinite ease-in-out;
  background-color: var(--max-color);
}

@keyframes skeleton {
  0% {
    background-color: var(--max-color);
  }
  50% {
    background-color: var(--min-color);
  }
  100% {
    background-color: var(--max-color);
  }
}
