.button {
  color: black;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--button);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-active);
}

.button * {
  pointer-events: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image {
  width: 20px;
  margin-right: 10px;
}

.text {
  font-size: 22px;
}
